<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <form action="/manageprofessional?action={% if prof %}edit&id={{prof.id}}{% else %}create{% endif %}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="sp_name" name="name" {% if prof %}value="{{prof.name}}"{% endif %}>
                        <label for="sp_name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="sp_email" name="email" {% if prof %}value="{{prof.email}}"{% endif %}>
                        <label for="sp_email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="sp_password" name="password" {% if prof %}value="{{prof.password}}"{% endif %}>
                        <label for="sp_password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="sp_address" name="exp" {% if prof %}value="{{prof.experience}}"{% endif %}>
                        <label for="sp_address">experiance</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="sp_phone" name="phone" {% if prof %}value="{{prof.phone}}"{% endif %}>
                        <label for="sp_phone">Phone</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Default select example" id="sp_cat" name="servicecat">
                            <option selected value="">{% if prof %}{{prof.service_category.name}}{% else %}Choose Cateogory{% endif %}</option>
                            {% for cat in all_cats %}
                            <option value="{{cat.id}}">{{cat.name}}</option>
                            {% endfor %}
                            
                        </select>

                        <label for="sp_cat">Cateogory</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">{% if prof %}Edit{% else %}Register{% endif %}</button>

                </form>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>