<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-disabled="true">Search</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person fs-5"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">LogOut</a></li>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="card mt-5 ms-5 me-5">
        <div class="card-header d-flex">
            <h3>Services</h3>
            <a href="/manageservice?action=create" class="btn btn-primary ms-auto">+ Create</a>

        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cat in allcats %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{cat.name}}</td>
                        <td>{{cat.description}}</td>
                        <td>

                            <a href="/manageservice?action=edit&id={{cat.id}}" class="btn btn-primary">Edit</a>
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#servicecat{{cat.id}}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="servicecat{{cat.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{cat.name}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete {{cat.name}} ?</p>
                                            <form action = "/manageservice?action=delete&id={{cat.id}}"  method="POST">
                                                <button type="submit" class = "btn btn-primary">Delete</button>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-5 ms-5 me-5">
        <div class="card-header d-flex">
            <h3>Service Professional</h3>
            <a href="/manageprofessional?action=create" class="btn btn-primary ms-auto">+ Create</a>

        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Professional Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Experiance</th>
                        <th scope="col">Service</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for prof in profs %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{prof.name}}</td>
                        <td>{{prof.email}}</td>
                        <td>{{prof.phone}}</td>
                        <td>{{prof.experience}}</td>
                        <td>{{prof.service_category.name}}</td>
                        <td>{{prof.status}}</td>
                        <td>
                            <a href="/manageprofessional?action=edit&id={{prof.id}}" class="btn btn-sm btn-warning">Edit</a>
                           
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#prof-{{prof.id}}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="prof-{{prof.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{prof.name}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete {{prof.name}}'s Account' ?</p>
                                            <form action = "/manageprofessional?action=delete&id={{prof.id}}"  method="POST">
                                                <button type="submit" class = "btn btn-primary">Delete</button>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div> 
                            
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                data-bs-target="#profflag-{{prof.id}}">
                                {% if prof.status=="Active" %}Flag{% elif prof.status=="Flagged" %}Unflag{% endif %}
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="profflag-{{prof.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel"> {% if prof.status=="Active" %}Flag{% elif prof.status=="Flagged" %}Unflag{% endif %} {{prof.name}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to {% if prof.status=="Active" %}Flag{% elif prof.status=="Flagged" %}Unflag{% endif %} {{prof.name}} ?</p>
                                            <form action = "/manageprofessional?action={% if prof.status=='Active' %}flag{% elif prof.status=='Flagged' %}unflag{% endif %}&id={{prof.id}}"  method="POST">
                                                <button type="submit" class = "btn btn-primary"> {% if prof.status=="Active" %}Flag{% elif prof.status=="Flagged" %}Unflag{% endif %}</button>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-5 ms-5 me-5">
        <div class="card-header d-flex">
            <h3>Customer</h3>


        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>

                        <th scope="col">Status</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cust in custs %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{cust.name}}</td>
                        <td>{{cust.email}}</td>
                        <td>{{cust.phone}}</td>
                        <td>{{cust.address}}</td>

                        <td>{{cust.status}}</td>
                        <td>
                            <button class="btn btn-sm btn-warning">View</button>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                data-bs-target="#custflag-{{cust.id}}">
                                {% if cust.status=="Active" %}Flag{% elif cust.status=="Flagged" %}Unflag{% endif %}
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="custflag-{{cust.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel"> {% if cust.status=="Active" %}Flag{% elif cust.status=="Flagged" %}Unflag{% endif %} {{cust.name}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to {% if cust.status=="Active" %}Flag{% elif cust.status=="Flagged" %}Unflag{% endif %} {{cust.name}} ?</p>
                                            <form action = "/managecustomer?action={% if cust.status=='Active' %}flag{% elif cust.status=='Flagged' %}unflag{% endif %}&id={{cust.id}}"  method="POST">
                                                <button type="submit" class = "btn btn-primary"> {% if cust.status=="Active" %}Flag{% elif cust.status=="Flagged" %}Unflag{% endif %}</button>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            

                        </td>


                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>